.container-md{
    display: flex;
;
}

#input{
    background-color: rgb(248, 238, 238);
    width: 35%;
    height: 3em;
    top: 20px;
    left:3em;
    font-family: Comic Sans MS, Comic Sans, cursive; 
}


body {
    margin: 0;
    padding: 0;
    background-color:#56a0d0;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
#description{
    font-size: 2rem;
    font-family: Comic Sans MS, Comic Sans, cursive;

}
#default_padre {
    display: flex;
    flex-direction: row-reverse;
    margin: 3em;

}


#map{
    margin: 7em 2em;
    width: 95%;
    height: 289px;
    top: 50%;
    
    right: auto;
    border: 5px solid rgb(219, 42, 145);
    border-radius: 20px;
    display: block;
}

#tarjetas{
    display: flex;
    flex-direction: row;

}
 .nuevas_tarjetas {
    width: 205px;
    height: 310px;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom: 50px;
    flex-direction: column;
    margin-top: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;

 }
   


#default {
    width: 400px;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom: 50px;
    flex-direction: column;
    margin-top: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

/* #div_padre{
    width: 400px;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom: 50px;
    flex-direction: column;
    margin-top: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

#nameCity{
    font-size: 2rem;
    font-family: Marker Felt, fantasy;

}
#country{
    font-size: 2rem;
    font-family: Marker Felt, fantasy;
}
#temperatura{
    font-size: 2rem;
    font-family: Marker Felt, fantasy;
} */


