.container-md{
    display: flex;

}

.h1{
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
}


#input{
    background-color: rgb(255, 255, 255);
    padding: 0;
    top: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive; 
}



body {
    margin: 0;
    padding: 0;
    background-image: url(./img/Clima-en-la-rioja-1024x683.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
#description{
    font-size: 2rem;
    font-family: Comic Sans MS, Comic Sans, cursive;

}
#default_padre {
    display: flex;
    flex-direction: row-reverse;
    margin: 3em;

}


#map{
    margin: auto 1em;
    
    height: 289px;
    top: 50%;
    
    right: auto;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    display: block;
}

#tarjetas{
    display: flex;
    flex-direction: row;

}
 .nuevas_tarjetas {
    width: 205px;
    height: 350px;
    
    display: block;
    margin: 0.5em;
    border-radius: 10px;
    padding-bottom: 50px;
    flex-direction: column;
    margin-top: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-image: url(./img/Clima-en-la-rioja-1024x683.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    border: 1px solid;
 }
   

#default {
    width: 400px; 
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom: 50px;
    flex-direction: column;
    margin-top: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-image: url(./img/Clima-en-la-rioja-1024x683.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    border: 1px solid;
}




